<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monet</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>

<body>


    <div class="navbar">

        <label for="home-link" class="page-logo"> <img src="{{ url_for('static', filename='logo.png') }}"  class="logo-image"></label>
        <a href="{{ url_for('index_func') }}" class="navbar-link" id="home-link">MONET</a>
        <a href="{{ url_for('history_func') }}" class="navbar-link" style="font-weight: bold; color: #333333;">History</a>

    </div>

    <br>
    <br>

    {%  if fileKey %}

    {% for i in range(fileSize) %}

    <div class="history-container">
        <div>
            <div></div>
            <img src="{{ url_for('static', filename=inputFiles[i]) }}" alt="Monet-esque" class="history-image">
        </div>


        <div class="to-text">
            to
        </div>
        <div>
            <img src="{{ url_for('static', filename=outputFiles[i]) }}" alt="Monet-esque" class="history-image">
        </div>

    </div>

    {% endfor %}

    {% else %}

        <div style="font-size: 40px; margin: 200px 25%;  text-align: center; font-weight: bold; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; border-radius: 10px; padding: 50px;">
            HISTORY NOT FOUND. <br> PLEASE <a style="text-decoration: none; color: darkgreen;" href="{{ url_for('index_func') }}">CLICK</a> FOR GENERATE.
        </div>

    {% endif %}
    <br><br><br>
</body>

</html>