<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monet</title>

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>


    <div class="navbar">

        <label for="home-link" class="page-logo"> <img src="{{ url_for('static', filename='logo.png') }}"  class="logo-image"></label>
        <a href="{{ url_for('index_func') }}" class="navbar-link" id="home-link" style="font-weight: bold; color: #333333;">MONET</a>
        <a href="{{ url_for('history_func') }}" class="navbar-link">History</a>

    </div>


    <div class="container">



        <form method="POST" action="/" enctype="multipart/form-data">

            <div class="form">
                <input name="file" id="entry_value" ref="fileInput" type="file" onchange="getFileName()">
                <div class="form-container">
                    <img src="{{ url_for('static', filename='upload.png') }}" alt="upload" width="7%" class="input-image">

                    Upload your files here or

                    <button class="btn bg-color-dblue btn-primary px-4 py-3">Browse</button>

                    <br>

                    <span id="fileName" class="text-primary">

                    </span>

                </div>

                <div class="generate-container">
                    <label for="sumbmit-button-generate" class="generate-button">Generate</label>
                    <input type="submit" value="Submit" id="sumbmit-button-generate" style="display: none;">

                </div>

            </div>


        </form>

        {% if showKey %}
        <div class="show-results">


            <div class="input-image-container">
                <div class="result-title">Input Photo</div>
                <img src="{{ url_for('static', filename=input_image) }}" alt="Input Photo" class="result-image-class">
            </div>

            <div class="to-text">
                to
            </div>

            <div class="output-image-container">
                <div class="result-title">Monet Photo</div>
                <img src="{{ url_for('static', filename=output_image) }}" alt="Monet-esque" class="result-image-class">
            </div>

        </div>
        {% endif %}

    </div>


    <!-- Modal -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <img id="modalImage" src="" alt="Modal Image">
            <div class="button-container">
                <button id="backButton" class="back-button">Back</button>

            </div>

        </div>

    </div>
</body>


<script>

    function getFileName() {
        var x = document.getElementById('entry_value')
        document.getElementById('fileName').innerHTML = x.value.split('\\').pop()
    }


    // Modalı açmak için JavaScript fonksiyonu
    function openModal(imageURL) {
        var modal = document.getElementById("myModal");
        var modalImage = document.getElementById("modalImage");

        // Modal içerisindeki görüntüyü ayarla
        modalImage.src = imageURL;

        // Modalı göster
        modal.style.display = "block";
    }

    // Modalı kapatmak için JavaScript fonksiyonu
    function closeModal() {
        var modal = document.getElementById("myModal");
        modal.style.display = "none";
    }

    // Her bir img elementine click event listener ekle
    var images = document.querySelectorAll(".input-image-container img, .output-image-container img");
    images.forEach(function (image) {
        image.addEventListener("click", function () {
            openModal(this.src);
        });
    });

    // Modalın kapatılması için close elementine click event listener ekle
    var closeBtn = document.querySelector(".close");
    closeBtn.addEventListener("click", closeModal);

    // Back butonuna click event listener ekle
    var backButton = document.getElementById("backButton");
    backButton.addEventListener("click", closeModal);
</script>


</html>